*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:host {
  font-size: 20px;
  --breakpoint-extra-small: 400px;
  --breakpoint-small: 650px;
  --breakpoint-medium: 900px;
  --small-button-padding: 2px 4px;
  --medium-button-padding: 4px 8px;
}
@media (max-width: 900px) {
  /* @media (max-width: var(--breakpoint-medium)) { */
  :host {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  /* @media (max-width: var(--breakpoint-small)) { */
  :host {
    font-size: 16px;
  }
}

.audio-player {
  padding: 8px 10px 10px;
  background: #fff;
  height: fit-content;
  margin-block: 10px;
}

button {
  font-size: 0.7em;
  font-family: "Victor Mono", monospace;
  letter-spacing: -0.5px;
  padding: 10px;
  background: white;
  text-align: center;
  border: 1px solid #fba351;
}

button:active {
  background: #fcdc84;
}

button:hover {
  background-color: #fcdc84;
}

.btn-is-selected {
  background: #fba351;
}

button:hover,
input:hover {
  cursor: pointer;
}

.audio-info {
  padding-block-end: 10px;
}

.audio-title {
  font-size: 2em;
}

.play-and-skip-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-start: 0.5em;
}

@media (min-width: 650px) {
  /* @media (min-width: var(--breakpoint-small)) { */
  .player-controls-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.main-play-btn {
  width: 130px;
}

.time-and-seek-container {
  display: flex;
  flex-direction: column;
  flex: 3;
}

.volume-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 1px;
  transform: translateY(12px);
}

@media (max-width: 649px) {
  /* @media (max-width: var(--breakpoint-small)) { */
  .volume-container {
    max-width: 200px;
    margin-block-start: 10px;
    margin-block-end: 20px;
    transform: translateY(0px);
  }
}

.mute-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 3px 1px 3px;
  border: none;
}

.time-and-skip-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.skip-time-button-container {
  display: flex;
  gap: 2px;
  align-items: center;
}
.skip-time-button-container button {
  font-weight: bold;
}

.time-display-container {
  font-family: "Xanh Mono", monospace;
  letter-spacing: -0.5px;
  font-size: 0.75em;
  margin-block-start: 5px;
}

.volume-slider {
  flex: 1 1 auto;
  width: 100%;
  margin: 0;
}

.track-list {
  margin-block-start: 10px;
}

.track-list-item {
  margin-block-start: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  color: white;
  border-style: solid;
  border-width: 1px;
}

.track-list-item.is-playing {
  outline: 3px solid #fba351;
  outline-offset: -3px;
}

.track-list-item:nth-of-type(odd) {
  background: #4c4c4c;
  border-color: #fcd26f;
}
.track-list-item:nth-of-type(even) {
  background: #373138;
  border-color: #fba351;
}

.track-play-btn {
  flex: 0 0 75px;
  min-width: 75px;
  width: 75px;
}

@media (max-width: 400px) {
  /* @media (max-width: var(--breakpoint-extra-small)) { */
  .track-play-btn {
    flex: 0 0 45px;
    min-width: 45px;
    width: 45px;
    padding: 5px;
  }
  .volume-container {
    max-width: 85%;
  }
}

.secondary-controls-container {
  display: flex;
  gap: 10px;
  margin-block: 10px;
}
