* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* 
"Bitcount Prop Double", system-ui;
"Bitcount Single Ink", system-ui;
"Nabla", system-ui;
"Coral Pixels", serif;
"Alumni Sans SC", sans-serif;
"Xanh Mono", monospace;
"Share Tech Mono", monospace;
"VT323", monospace;
"Gilda Display", serif;
"Special Elite", system-ui;
"IBM Plex Serif", serif;
"DM Serif Display", serif;
"Titillium Web", sans-serif;
"DM Sans", sans-serif;
"Raleway", sans-serif;
"Sorts Mill Goudy", serif;
"Victor Mono", monospace;
"Nobile", sans-serif;
"Orienta", sans-serif;
"Forum", serif;
"Arapey", serif;
 */

body {
  font-family: "Forum", serif;
  margin-inline: 15px;
  background: #000;
}

h1 {
  font-size: 50px;
  margin-block-start: 15px;
  text-align: center;
  color: #fba351;
  /* background: white; */
  font-family: "Nabla", system-ui;
  font-variation-settings: "EDPT" 100, "EHLT" 12;
  /* font-weight: bold; */
  /* Make background image show through the text */
  /* background: url("./images/IMG_5607.jpg") no-repeat center center;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */
}

button {
  font-family: var(--primary-font);
  background: white;
  border: none;
  text-align: center;
  border: 1px solid #9e969f;
}

button:hover,
input:hover {
  cursor: pointer;
}
